.section1{
    width: 100%;
    height: auto; 
}


.info{
    height: 750px;
    display: flex;
    justify-content: space-between; 
   
}

.capitalInfo{ 
   margin: auto;
   width: 50%;
      
}

.capitalInfo h3 {
    font-family: "Noto Serif Armenian", serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #aa9597;
    
}

.capitalInfo h2 {
    font-family: "Noto Serif Armenian", serif;
    font-size: 32px;
    line-height: 45px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #390307;
  

 }

 .capitalInfo p {
    font-family: "Noto Serif Armenian", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#aa9597;

 }

.img1 img{
    box-shadow:  3px 7px 40px 1px #aa9597 ; 
    margin-top: 50px;
 
}

 
.boxImg{
    display: flex;
    align-items: flex-end;
    height: 750px;
}


.abouts a{
    text-decoration: none;
    color: #390307;
    
}

.abouts{
    width: 180px;
    height: 40px;
    border: 1px solid #ee0505;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15px;
    font-size: 20px;
    font-family: "Noto Serif Armenian", serif;
}

.abouts:hover  {
    background-color: #ee0505;

}
.abouts:hover  a {
    color: #fcf6f6 ;
}


@media screen and (max-width: 853px){
    .img1 img{
        width: 501px;
        height: 670px ;
       
    }

    .capitalInfo h2 { 
        font-size: 27px;
    }
}
   

   


@media screen and (max-width: 430px){
    .info {
        flex-direction: column;
       justify-content: left;
      
    }

    .capitalInfo {
        width: 100%;
      
        
    }

    .img1{
        visibility: hidden;
        width: 10px;
        height: 10px ;
    }
    
    .info{
         height: 264px;
  
        
    }

    .img1{
        visibility: hidden;
        width: 5px;
        height: 5px ;
    }
    .img1 img{
        visibility: hidden;
        width: 5px;
        height: 5px ;
    }

   
.abouts{
    width: 136px;
    height: 34px;
    margin-bottom: 20px;
    font-size: 17px;
    border: 1px solid  #ee0505;
  
}



.abouts a{
    text-decoration: none;
    color: black;
    
}

.logo img {
    height: 77px;
    width: 100px;
}

.tel {
    font-size: 16px;
    width: 135px;
    height: 36px;
    border: 1px solid  #ee0505;
    background-color: white;
    
}  

.header .tel a{
    color: #390307;
}

.capitalInfo p {
    line-height: 23px;
}
}
   
@media screen and (max-width: 390px){
    .info {
        flex-direction: column;
       justify-content: left;
      
    }

    .capitalInfo {
        width: 100%;   
    }

    .img1{
        visibility: hidden;
        width: 5px;
        height: 5px ;
    }
    .img1 img{
        visibility: hidden;
        width: 5px;
        height: 5px ;
    }

    
    .info{
         height: 264px;
  
        
    }

  

   
.abouts{
    width: 136px;
    height: 34px;
    margin-bottom: 20px;
    font-size: 17px;
    border: 1px solid  #ee0505;
  
}



.abouts a{
    text-decoration: none;
    color: black;
    
}

.logo img {
    height: 77px;
    width: 100px;
}

.tel {
    font-size: 16px;
    width: 135px;
    height: 36px;
    border: 1px solid  #ee0505;
    background-color: white;
    
}  

.header .tel a{
    color: #390307;
}

.capitalInfo p {
    line-height: 23px;
}
}

@media screen and (max-width: 360px){
    .img1{
        visibility: hidden;
        width: 5px;
        height: 5px ;
    }
    .img1 img{
        visibility: hidden;
        width: 5px;
        height: 5px ;
    }
}


@media screen and (max-width: 430px){
    .faqs h2 {
        width: 411px;
        font-size: 23px;

    }

    .question {
        width: 378px;
        font-size: 15px;
    
    }

    .answer {
        width: 397px;
        height: 212px;
        font-size: 15px;
    
    }

    .text {
        font-size: 18px;
    }

    .time h2 {
        font-size: 27px;
        padding-top: 20px;
    }

}

@media screen and (max-width: 390px){
    .faqs h2 {
        width: 385px;
        font-size: 22px;
    }

    .answer {
        width: 364px;
        font-size: 14px;
    }

}



@media screen and (max-width: 375px){
    .faqs h2 {
        width: 371px;
        font-size: 21px;
    }

    .question {
        width: 344px;
        font-size: 15px;
    }

    .answer {
        width: 357px;
        font-size: 13px;
    }

    .text {
        font-size: 16px;
    }
}


@media screen and (max-width: 360px){
    .question {
        width: 333px;
        font-size: 13px;
    }
    .faqs h2 {
        width: 347px;
        font-size: 19px;
    }

    .answer {
        width: 340px;
    }

    .faqs {
        height: 117px;
        margin-top: 20px;

    }
}